name: Unit Tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  Jest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v3
        with:
          node-version: '10'  # or your preferred version
          cache: 'npm'

      - working-directory: ./frontend
      - name: Run Tests
        run: |
          npm install 
          npm test
